@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap');

/* define colors and other variables */
body {
    --yellow: #ffbf00;
}

/* the general nac container */
nav.main {
    display: flex;
    padding: 28px 20px;
    width: 100vw;
    max-width: 1500px;
    flex: 1 1 auto;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    align-items: center;
}

@media screen and (min-width: 400px) {
    nav.main {
        padding: 28px 30px;
    }
}

@media screen and (min-width: 1000px) {
    nav.main {
        padding: 40px 50px;
    }
}

@media screen and (min-width: 1500px) {
    nav.main {
        left: calc(50vw - 750px);
    }
}

/* General css for hyperlinks */
nav.main a {
    transition: color 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
    color: white;
    text-decoration: none;
    font-family: "Oxygen", sans-serif;
}

nav.main a:hover {
    color: var(--yellow);
    outline: 0;
}

nav.main a:active {
    outline: 0;
}

/* Defines the logo (name) */
nav.main a.logo {
    font-family: "Oswald", serif;
    font-style: normal;
    line-height: 1.15;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}

@media screen and (min-width: 400px) {
    nav.main a.logo {
        font-size: 1.25rem;
        letter-spacing: 5.5px;
    }
}

@media screen and (min-width: 450px) {
    nav.main a.logo {
        font-size: 1.5rem;
        letter-spacing: 7.5px;
    }
}

@media screen and (min-width: 800px) {
    nav.main a.logo {
        font-size: 1.875rem;
        letter-spacing: 7.5px;
    }
}

@media screen and (min-width: 1000px) {
    nav.main a.logo {
        font-size: 1.875rem;
        letter-spacing: 7.5px;
    }
}

/* General definitions for the hamburger menu */
nav.main div.hamburger {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
    display: flex;
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    background: url('../../icons/bar_white.png') calc(100% - 50px) calc(50% + 1px) no-repeat;
    min-width: 80px;
    padding-top: 2px;
}

nav.main div.hamburger:hover {
    color: var(--yellow);
    background-image: url('../../icons/bar_yellow.png');
}


@media screen and (min-width: 1000px) {
    nav.main div.hamburger {
        display: none;
    }
}

nav.main.expanded div.hamburger {
    background-image: url('../../icons/close_white.png');
}

nav.main.expanded div.hamburger:hover {
    background-image: url('../../icons/close_yellow.png');
}

/** define links for a small screen device **/
nav.main div.links {
    position: absolute;
    top: 84px;
    background-color: #121212;
    display: block;
    right: 0;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    width: 0;
    transition: width 0.75s ease-in-out;
}

nav.main div.links a {
    display: block;
    margin: 2rem;
    line-height: 1rem;
    height: 1rem;
    overflow-y: hidden;
    box-sizing: border-box;
}

nav.main.expanded div.links {
    width: 100vw;
}


/** define the menu for medium sized screens */
@media screen and (min-width: 800px) {

    nav.main div.links {
        right: 30px;
        transition: width 0.375s ease-in-out;
    }

    nav.main.expanded div.links {
        width: 50vw;
    }
}

/** define the menu for large screens */
@media screen and (min-width: 1000px) {

    nav.main div.links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1 1 auto;
        position: unset;
        top: unset;
        background-color: unset;
        right: unset;
        padding: unset;
        width: unset;
        transition: unset;

    }

    nav.main div.links a {
        padding: 0 16px;
        line-height: 2;
        text-transform: capitalize;
        letter-spacing: 0.29px;
        margin: unset;
        height: unset;
    }

    nav.main.expanded div.links {
        width: unset;
    }
}