<template>
    <link rel="stylesheet" href="/site/components/main-navigation/style.css" />
    <div class="wrapper" style="display: none;">
        <nav class="collapsed">
            <a href="/" class="logo">aspicientis lux</a>
            <div class="links">
                <a href="/">Home</a>
                <a href="/site/pages/news.html">News</a>
                <a href="/site/pages/birds.html">Birds</a>
                <a href="/site/pages/landscape.html">Landscape</a>
                <a href="/site/pages/wildlife.html">Wildlife</a>
                <a href="/site/pages/art.html">Art</a>
            </div>
            <div class="hamburger">
                <svg class="bar" viewBox="0 0 512 512" height="48" width="48" focusable="false" role="img"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                        stroke-width="48" d="M88 152h336M88 256h336M88 360h336"></path>
                </svg>
                <svg class="close" viewBox="0 0 512 512" height="48" width="48" focusable="false" role="img"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m289.94 256 95-95A24 24 0 0 0 351 127l-95 95-95-95a24 24 0 0 0-34 34l95 95-95 95a24 24 0 1 0 34 34l95-95 95 95a24 24 0 0 0 34-34z">
                    </path>
                </svg>
                <span>menu</span>
            </div>
        </nav>
    </div>
</template>