div.image-navigation {
    max-width: 1400px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin: 0 auto;
    align-items: stretch;
}

div.image-navigation a {
    flex: 0 0 50%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: 0.5px solid black;
    text-decoration: none;
    align-self: stretch;
    border: 0;
    margin: 0;
    padding: 0;
    transition: filter 0.5s ease-out;
    filter: brightness(85%);

    @media screen and (min-width: 800px) {
        flex: 0 0 25%;
    }
}

div.image-navigation a:hover {
    filter: brightness(110%);
}

div.image-navigation img {
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 0.5px solid black;
}

div.image-navigation.col-3 a {
    flex: 0 0 calc(100% / 3);
}

div.image-navigation.col-2 a {
    flex: 0 0 50%;
    max-width: 700px;
}

div.image-navigation.col-2.vertical a {
    height: calc(50vw * 1.5);
    max-height: calc(700px * 1.5);
    overflow: hidden;
}

div.image-navigation img.cover {
    height: 100%;
    object-fit: cover;
}

div.image-navigation.col-1 a {
    flex: 0 0 100%;
    max-width: 1400px;
}