/** gallery is the container for the image */
div.gallery {
    max-width: 1400px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: stretch;
}

/** Define the looks of the button hovering */
div.gallery figure div {
    height: 26px;
    width: 56px;
    z-index: 20;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 45px;
    cursor: zoom-in;
    color: var(--header-text);
    backdrop-filter: blur(16px) saturate(1.8);
    background-color: rgba(90, 90, 90, 0.25);
    visibility: hidden;
    background-image: url("/assets/icons/zoom-white.png");
    background-repeat: no-repeat;
    background-position: center center;
}

div.gallery figure:hover {
    div {
        visibility: visible;
    }
}

/** define the base settings for figure and images **/
div.gallery figure {
    flex: 0 0 100%;
    display: block;
    margin: 0;
    height: calc(100vw * 2 / 3);
    max-height: calc(1400px * 2 / 3);
    overflow: hidden;
}

div.gallery figure img {
    display: block;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border: 0.5px solid var(--background);
}

/** everything related to text blocks inside the gallery */
div.gallery div.text {
    flex: 0 0 100%;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}

div.gallery div.text:nth-child(2) {
    @media screen and (min-width: 1400px) {
        padding-right: 0;
    }
}

div.gallery div.text:first-child {
    @media screen and (min-width: 1400px) {
        padding-left: 0;
    }
}

div.gallery div.text p:first-child {
    margin-top: 0;
}

div.gallery div.text h2 {
    text-align: left;
    margin-top: 40px;
}

/** define all the different variants */
div.gallery figure {
    position: relative;
    flex: 0 0 100%;
    height: calc(100vw * 0.66667);
    max-height: calc(1400px * 0.66667);
}

div.gallery.portrait figure {
    flex: 0 0 100%;
    height: calc(100vw * 1.5);
    max-height: calc(1400px * 1.5);
}

@media screen and (min-width: 500px) {

    div.gallery.col-2 figure,
    div.gallery.col-4 figure {
        flex: 0 0 50%;
        height: calc(50vw * 0.66667);
        max-height: calc(700px * 0.66667);
    }

    div.gallery.col-3 figure {
        flex: 0 0 33.333333%;
        height: calc(33.33333vw * 0.66667);
        max-height: calc(466.6666666px * 0.66667);
    }

    div.gallery.col-3.portrait figure {
        height: calc(33.33333vw * 1.5);
        max-height: calc(466.6666666px * 1.5);
    }

    div.gallery div.text {
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 700px) {
    div.gallery.col-4 figure {
        flex: 0 0 25%;
        height: calc(25vw * 0.66667);
        max-height: calc(350px * 0.66667);
    }
}

@media screen and (min-width: 1000px) {
    div.gallery.col-4 figure {
        flex: 0 0 25%;
        height: calc(25vw * 0.66667);
        max-height: calc(350px * 0.66667);
    }
}

div.gallery.col-1 figure {
    flex: 0 0 100%;
    width: 100%;
    height: unset;
    max-height: unset;
}

@media screen and (min-width: 500px) {
    div.gallery.col-2.portrait figure {
        flex: 0 0 50%;
        height: calc(50vw * 1.5);
        max-height: calc(700px * 1.5);
    }
}

/** Everything that is related to fullscreen */
div.gallery figure.fullscreen,
div.gallery.portrait figure.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--header-text);
    display: flex;
    overflow: hidden;
    padding: 60px 40px 40px 40px;
}

div.gallery figure.fullscreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: unset;
}

div.gallery figure.fullscreen div {
    height: 26px;
    width: 56px;
    z-index: 101;
    position: absolute;
    right: 16px;
    top: 16px;
    border-radius: 45px;
    cursor: zoom-in;
    backdrop-filter: unset;
    background-color: unset;
    background-image: unset;
    color: var(--background);
    visibility: visible;
    cursor: pointer;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Arial';
    right: 4px;

}

div.gallery figure.fullscreen img {
    border-width: 0;
}

div.gallery figure.fullscreen div::before {
    content: '\002715';
}

div.gallery figure figcaption {
    text-align: center;
    width: 100%;


    color: var(--text);
    background-color: var(--background);
    position: absolute;
    bottom: 0px;
    padding: 8px;
    font-family: "Oxygen", sans-serif;
    font-size: 0.75rem;
}

@media screen and (min-width: 500px) {

    div.gallery.col-2 figure figcaption,
    div.gallery.col-3 figure figcaption,
    div.gallery.col-4 figure figcaption {
        width: calc(100% - 1px);
        left: 0.5px;
    }
}

div.gallery figure.fullscreen figcaption {
    background-color: var(--header-text);
    color: var(--background);
    padding-bottom: 16px;
}